In [ ]:
#This is my first lab

In [7]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://rickwalder.ia340.bucket.demo/data.csv') # load the data from s3
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [8]:
df.shape
df['cases']
df.sort_values(by='deaths')

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
52925,25/05/2020,25,5,2020,-372,-1918,Spain,ES,ESP,46937060.0,Europe,16.255812
31909,24/08/2020,24,8,2020,237,-443,Kyrgyzstan,KG,KGZ,6415851.0,Asia,45.964284
29271,25/06/2020,25,6,2020,577,-31,Italy,IT,ITA,60359546.0,Europe,6.042126
31304,06/08/2020,6,8,2020,218,-12,Kosovo,XK,XKX,1798506.0,Europe,178.259066
28207,03/10/2020,3,10,2020,466,-5,Ireland,IE,IRL,4904240.0,Europe,97.711368
...,...,...,...,...,...,...,...,...,...,...,...,...
59241,18/04/2020,18,4,2020,30833,3770,United_States_of_America,US,USA,329064917.0,America,128.910430
16906,07/09/2020,7,9,2020,-8261,3800,Ecuador,EC,ECU,17373657.0,America,11.598019
44907,24/07/2020,24,7,2020,4546,3887,Peru,PE,PER,32510462.0,America,168.093582
44886,14/08/2020,14,8,2020,9441,3935,Peru,PE,PER,32510462.0,America,309.143561
59243,16/04/2020,16,4,2020,30148,4928,United_States_of_America,US,USA,329064917.0,America,128.528743

In [10]:
df[0:5]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [11]:
df[df['deaths']>5]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658
...,...,...,...,...,...,...,...,...,...,...,...,...
61754,13/08/2020,13,8,2020,75,18,Zimbabwe,ZW,ZWE,14645473.0,Africa,13.751690
61760,07/08/2020,7,8,2020,56,13,Zimbabwe,ZW,ZWE,14645473.0,Africa,15.506498
61763,04/08/2020,4,8,2020,154,10,Zimbabwe,ZW,ZWE,14645473.0,Africa,16.127851
61766,01/08/2020,1,8,2020,77,14,Zimbabwe,ZW,ZWE,14645473.0,Africa,11.942257
61767,31/07/2020,31,7,2020,213,12,Zimbabwe,ZW,ZWE,14645473.0,Africa,11.812524

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61900 entries, 0 to 61899
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     61900 non-null  object
 1   day                                                         61900 non-null  int64
 2   month                                                       61900 non-null  int64
 3   year                                                        61900 non-null  int64
 4   cases                                                       61900 non-null  int64
 5   deaths                                                      61900 non-null  int64
 6   countriesAndTerritories                                     61900 non-null  object
 7   geoId                                                       61625 non-null  object
 8   countryterritoryCode                                        61777 non-null  object
 9   popData2019                                                 61777 non-null  float64
 10  continentExp                                                61900 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  59021 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 5.7+ MB

In [13]:
df['date'] = pd.to_datetime(df['dateRep'], format='%d/%m/%Y') #change the data type to date with specific format
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61900 entries, 0 to 61899
Data columns (total 13 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     61900 non-null  object
 1   day                                                         61900 non-null  int64
 2   month                                                       61900 non-null  int64
 3   year                                                        61900 non-null  int64
 4   cases                                                       61900 non-null  int64
 5   deaths                                                      61900 non-null  int64
 6   countriesAndTerritories                                     61900 non-null  object
 7   geoId                                                       61625 non-null  object
 8   countryterritoryCode                                        61777 non-null  object
 9   popData2019                                                 61777 non-null  float64
 10  continentExp                                                61900 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  59021 non-null  float64
 12  date                                                        61900 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 6.1+ MB

In [14]:
df = df.rename(columns={"popData2019": "pop", "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000": "cum","countriesAndTerritories":"country" }) 
df.head()

,dateRep,day,month,year,cases,deaths,country,geoId,countryterritoryCode,pop,continentExp,cum,date
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779,2020-12-14
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776,2020-12-13
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768,2020-12-12
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266,2020-12-11
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658,2020-12-10

In [15]:
df.isnull().sum()

dateRep                    0
day                        0
month                      0
year                       0
cases                      0
deaths                     0
country                    0
geoId                    275
countryterritoryCode     123
pop                      123
continentExp               0
cum                     2879
date                       0
dtype: int64

In [16]:
df = df.dropna()
df.isnull().sum()

dateRep                 0
day                     0
month                   0
year                    0
cases                   0
deaths                  0
country                 0
geoId                   0
countryterritoryCode    0
pop                     0
continentExp            0
cum                     0
date                    0
dtype: int64

In [17]:
df.describe()

,day,month,year,cases,deaths,pop,cum,date
count,58759.000000,58759.000000,58759.0,58759.000000,58759.000000,5.875900e+04,58759.000000,58759
mean,15.649620,7.262377,2020.0,1216.417179,27.441890,4.138481e+07,66.470760,2020-07-24 04:09:11.159822336
min,1.000000,1.000000,2020.0,-8261.000000,-1918.000000,8.150000e+02,-147.419587,2020-01-13 00:00:00
25%,8.000000,5.000000,2020.0,0.000000,0.000000,1.293120e+06,0.762010,2020-05-17 00:00:00
50%,15.000000,7.000000,2020.0,20.000000,0.000000,7.813207e+06,6.698860,2020-07-27 00:00:00
75%,23.000000,10.000000,2020.0,312.000000,5.000000,2.860872e+07,52.618251,2020-10-05 00:00:00
max,31.000000,12.000000,2020.0,234633.000000,4928.000000,1.433784e+09,1900.836210,2020-12-14 00:00:00
std,8.825845,2.840879,0.0,6952.740171,134.548086,1.540087e+08,162.657960,NaN

In [18]:
df = df[(df['deaths']>=0) & (df['cases']>=0) & (df['cum']>=0)]
df.describe()

,day,month,year,cases,deaths,pop,cum,date
count,58697.000000,58697.000000,58697.0,58697.000000,58697.000000,5.869700e+04,58697.000000,58697
mean,15.649181,7.262824,2020.0,1217.885837,27.435337,4.141426e+07,66.553365,2020-07-24 04:28:27.726119168
min,1.000000,1.000000,2020.0,0.000000,0.000000,8.150000e+02,0.000000,2020-01-13 00:00:00
25%,8.000000,5.000000,2020.0,0.000000,0.000000,1.293120e+06,0.768125,2020-05-17 00:00:00
50%,15.000000,7.000000,2020.0,20.000000,0.000000,7.813207e+06,6.719107,2020-07-27 00:00:00
75%,23.000000,10.000000,2020.0,313.000000,5.000000,2.860872e+07,52.690073,2020-10-05 00:00:00
max,31.000000,12.000000,2020.0,234633.000000,4928.000000,1.433784e+09,1900.836210,2020-12-14 00:00:00
std,8.823526,2.841859,0.0,6956.155743,133.447458,1.540864e+08,162.702141,NaN

In [20]:
df['country'].value_counts()

country
United_Kingdom      337
Australia           337
Austria             337
Switzerland         337
Taiwan              337
                   ...
Comoros             214
Lesotho             201
Solomon_Islands      47
Marshall_Islands     34
Vanuatu              21
Name: count, Length: 211, dtype: int64

In [21]:
df = df[['country','cases','deaths','pop','cum','date']] 
df.head()

       country  cases  deaths         pop       cum       date
0  Afghanistan    746       6  38041757.0  9.013779 2020-12-14
1  Afghanistan    298       9  38041757.0  7.052776 2020-12-13
2  Afghanistan    113      11  38041757.0  6.868768 2020-12-12
3  Afghanistan     63      10  38041757.0  7.134266 2020-12-11
4  Afghanistan    202      16  38041757.0  6.968658 2020-12-10

In [23]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://rickwalder.ia340.bucket.demo/Crime_Data_from_2020_to_Present.csv')
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350